@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {

    max-width: 100%;
    margin: 0px; 
    padding: 0px;
    background-color: var(--primary-color);
    font-family: var(--primary-fonts);

}

:root {

/* --------------- BRANDING COLOR --------------- */

    --primary-color: #F9F7F7;
    --color-secundary: #FD910B;
    --color-gradients: linear-gradient(0deg, #FD910B -11.54%, #EF465F 89.74%, #F5663B 89.74%);
    --color-terciary: white;

/* --------------- CONSTANTS --------------- */

    --shadow-color: #bdb3bd; 
    --shadow: -10px -10px  10px 0px rgba(255,255,255,.5) inset,
        -0.5px -0.5px 10px 0px rgba(0,0,0,.2); 
    --border-gradients: rgb(249, 247, 247);
    --border-radius1: 20px;
    --border-radius2: 15px;

/* --------------- BACKGROUNDS--------------- */

    --backgrounds: #e5e5e5;

/* --------------- FONT AND SIZES --------------- */

    --primary-fonts: 'roboto', sans-serif;
    --title-color: #818794;
    --text-color: white;
    --text-color1: #FD910B;
    --main-size: 14px;
    --main-size1: 12px;
    

/* --------------- HEADER --------------- */
}

.header {

  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow:  1px 2px 4px var(--shadow-color); 

}

.header__img {

  align-items: center;
  object-fit: contain;
  cursor: pointer;

}
.header__menu {

  align-items: center;
  display: flex;

}

.header__options--ul {

  display: flex;
  list-style: none;
  align-items: center;

}

.header__options--ul a {

  margin-left: 10px;   

}